<div class="w-full relative">
    
    <div class="flex flex-wrap py-8 md:py-10 xl:py-12">
      <div class="container">

        <!-- page heading -->
        <div class="h-menu-flow">
          <span>Home</span><span>></span><span class="active"> Contact Us</span>
        </div>
        
        <!-- feedback section -->
        <div class="w-full pt-8 md:pt-10 xl:pt-12 pb-12">
          <h2 class="w-full capitalize text-black_mirage font-bold">Send Us Your Questions & Feedback!</h2>
          <div class="flex flex-wrap pt-4 sm:pt-8 md:pt-10 xl:pt-12 -mx-3">
            <div class="w-full md:w-7/12 lg:w-8/12 xl:w-9/12 px-3">
              <form action="" method="post" class="w-full">
                <div class="flex flex-wrap -mx-2">
                  <div class="w-full md:w-1/2 p-2">
                    <label for="name" class="cardinput">
                      <input type="text" name="name" placeholder="Name" id="name"/>
                    </label>
                  </div>
                  <div class="w-full md:w-1/2 p-2">
                    <label for="email_address" class="cardinput">
                      <input type="text" name="email_address" placeholder="Email Address" id="email_address"/>
                    </label>
                  </div>
                  <div class="w-full p-2">
                    <label for="massage" class="cardinput">
                      <textarea name="massage" placeholder="Massage" id="massage" cols="30" rows="5"></textarea>
                    </label>
                  </div>
                  <div class="w-full flex flex-wrap mt-3 sm:mt-5 md:mt-8 px-2">
                    <a href="shipping_address.html" lang="button" class="card-btn-primary ordernxtprw_btn md:mr-auto ml-0">Send Massage</a>
                  </div>
                </div>
              </form>
            </div>
            <div class="w-full md:w-5/12 lg:w-4/12 xl:w-3/12 px-3 mt-4 md:mt-0">
              <span class="block text-black_mirage text-28 font-bold">Customer Services</span>
              <div class="text-sm py-5 md:pt-9 md:pb-6 space-y-3">
                <div>
                  <span class="font-bold tracking-wide text-black_mirage">Mobile No.:</span>
                  <span class="font-semibold tracking-wide text-gray_slate">+91 98765432</span>
                </div>
                <div>
                  <span class="font-bold tracking-wide text-black_mirage">Email:</span>
                  <span class="font-semibold tracking-wide text-gray_slate">support@gmail.com</span>
                </div>
                <div><span class="block text-black_mirage font-bold pt-2 md:pt-6">24X7 Customer Support (All Days)</span></div>
                <div class="flex space-x-4 pt-2">
                  <span class="icon-Facebook text-lg text-gray_slate"></span>
                  <span class="icon-Twitter text-lg text-gray_slate"></span>
                  <span class="icon-Instagram text-lg text-gray_slate"></span>
                  <span class="icon-Github text-lg text-gray_slate"></span>
                  <span class="icon-LinkedIn text-lg text-gray_slate"></span>
                </div>
              </div>
            </div>
          </div>
        </div>  

        <!-- Subscribe our news letters to reach us -->
        <div class="flex flex-wrap py-8 md:py-10 xl:py-12">
          <div class="w-full relative px-6 py-16 bg-light_white rounded-2xl overflow-hidden text-center">      
            <h3 class="text-black_mirage font-bold mb-10 md:mb-12">Subscribe our news letters to reach us</h3>
            <form action="" method="post" class="relative w-full max-w-md mx-auto">
              <div class="flex flex-wrap sm:flex-nowrap justify-center sm:justify-center items-center sm:bg-white sm:text-gray_gull sm:rounded-lg sm:px-3 sm:py-2 space-y-3 sm:space-y-0 sm:drop-shadow-tow">
                <div class="flex items-center w-full bg-white text-gray_gull p-3 sm:p-0 rounded-lg sm:rounded-none drop-shadow-tow sm:drop-shadow-none">
                  <span class="icon-envelope text-2xl px-3"></span>
                  <input type="email" class="border-0 outline-none bg-transparent w-full" placeholder="Email">
                </div>
                <a href="javascript:void(0)" class="card-btn-primary block sm:inline-block sm:w-max px-3 text-sm">Subscribe</a>
              </div>
            </form>
            <span class="absolute left-0 bottom-0">
              <img src="../assets/images/subscribe-bg.png" alt="subscribe-bg"/>
            </span>
            <span class="absolute right-0 top-0 rotate-180">
              <img src="../assets/images/subscribe-bg.png" alt="subscribe-bg"/>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="bg-primary py-10 xl:py-12">
      <div class="container">
        <div class="text-center w-full mb-6 md:mb-10 xl:mb-12">
          <img src="../assets/images/svg/Sellify.svg" class="brightness-0 invert mx-auto" alt="logilogo"/>
        </div>
        <div class="flex md:justify-between flex-wrap -px-3">
          <div class="w-full sm:w-1/2 md:w-auto p-3">
            <div class="w-full space-y-3 lg:space-y-4">
              <span class="block text-lg lg:text-xl font-bold text-white">Contact Us</span>
              <div class="w-full space-y-2">
                <span class="block text-sm lg:text-base text-light_gray">Mobile No : +91 9876543214</span>
                <span class="block text-sm lg:text-base text-light_gray">Email : Support@gmail.com</span>
                <div class="flex space-x-4 pt-2">
                  <span class="inline-block">
                    <img src="../assets/images/svg/Facebook.svg" alt="Facebook"/>
                  </span>
                  <span class="inline-block">
                    <img src="../assets/images/svg/Twitter.svg" alt="Twitter"/>
                  </span>
                  <span class="inline-block">
                    <img src="../assets/images/svg/Instagram.svg" alt="Instagram"/>
                  </span>
                  <span class="inline-block">
                    <img src="../assets/images/svg/Github.svg" alt="Github"/>
                  </span>
                  <span class="inline-block">
                    <img src="../assets/images/svg/LinkedIn.svg" alt="LinkedIn"/>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-auto p-3">
            <div class="w-full space-y-3 lg:space-y-4">
              <span class="block text-lg lg:text-xl font-bold text-white">Customer Services</span>
              <div class="w-full space-y-2">
                <a href="dashboard/contact-us" class="block text-sm lg:text-base text-light_gray">Contact Us</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Track Your Order</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Product Care & Repair</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Book an Appointment</a>
                <a href="dashboard/faq" class="block text-sm lg:text-base text-light_gray">Frequently Asked Questions</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Shipping & Returns</a>
              </div>
            </div>
          </div>
          <div class="w-1/2 md:w-auto p-3">
            <div class="w-full space-y-3 lg:space-y-4">
              <span class="block text-lg lg:text-xl font-bold text-white">About Us</span>
              <div class="w-full space-y-2">
                <a href="dashboard/about-us" class="block text-sm lg:text-base text-light_gray">About Us</a>
                <a href="dashboard/faq" class="block text-sm lg:text-base text-light_gray">FAQ</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Our Producers</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Sitemap</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Terms & Conditions</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Privacy Policy</a>
              </div>
            </div>
          </div>
          <div class="w-1/2 md:w-auto p-3">
            <div class="w-full space-y-3 lg:space-y-4">
              <span class="block text-lg lg:text-xl font-bold text-white">Catalog</span>
              <div class="w-full space-y-2">
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Earrings</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Necklaces</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Bracelets</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Rings</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Jewellery Box</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Studs</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</div>
  <script src="../assets/js/script.js"></script>
