<img src="./assets/images/loginbg.png" class="absolute inset-y-0 left-0 h-screen" alt="">
<div class="relative z-20 flex items-center justify-center w-full h-screen">
    <div class="max-w-[475px] w-full px-4">
        <div class="homr_logo -mt-10 mb-10 md:-mt-24 md:mb-24 text-center"><a href="#" class="block max-w-[238px] mx-auto"><img src="./assets/images/logilogo.png" class="w-full mx-auto" alt=""></a></div>
        <div class="form_data space-y-3 sm:space-y-5 md:space-y-7">
        <div class="space-y-1 md:space-y-3">
            <span class="block text-2xl sm:text-28 font-bold">Login</span>
            <p class="text-gray_slate text-sm sm:text-base">Please fill your information below</p>
        </div>
        <form [formGroup]="loginForm" class="flex flex-col items-center space-y-4">
            <div class="w-full space-y-4 sm:space-y-6 order-1 sm:order-none">
            <div class="flex items-center w-full bg-light_gray text-gray_gull rounded-lg text-sm sm:text-base p-2 sm:p-3">
                <label for="eMial" class="icon-envelope px-3"></label>
                <input type="email" [formControlName]="'email'" id="eMial" class="border-0 outline-none bg-transparent w-full" placeholder="Email">
            </div>
            <div class="flex items-center w-full bg-light_gray text-gray_gull rounded-lg text-sm sm:text-base p-2 sm:p-3">
                <label for="passWord" class="icon-lock px-3"></label>
                <input type="password" [formControlName]="'password'" id="passWord" class="border-0 outline-none bg-transparent w-full" placeholder="Password">
            </div>
            </div>
            <div class="flex items-center justify-center sm:justify-end w-full order-4 sm:order-none">
            <a href="#" class="capitalize text-primary sm:text-gray_slate rounded-lg font-bold sm:font-semibold">forget password?</a>
            </div>
            <div class="flex items-center w-full order-2 sm:order-none">
            <button (click)="login()" lang="submit" class="bg-primary w-full rounded-lg text-base md:text-lg lg:text-xl text-white capitalize font-medium p-2 md:p-3">log in</button>
            </div>
            <div class="pt-3 hidden sm:block"><hr></div>
            <div class="flex items-center justify-between text-xs md:text-base order-3 sm:order-none">
            <span class="capitalize text-gray_slate font-semibold">don’t have an account?</span>
            <a href="" class="capitalize text-primary font-semibold">sign Up to your account</a>
            </div>
        </form>
        </div>
    </div>
</div>