<div class="w-full relative">
    <!-- header -->

    <div class="flex flex-wrap py-8 md:py-10 xl:py-12">
      <div class="container">

        <!-- page heading -->
        <div class="h-menu-flow">
          <span>Home</span><span>></span><span> My Account</span><span>></span><span class="active"> Account Information</span>
        </div>
          
          <!-- account information -->
        <div class="w-full py-8 md:py-10 xl:py-12">
          <h2 class="capitalize font-bold mb-6">account information</h2>
          <div class="flex flex-wrap items-start justify-between -mt-5 -mx-3">
            <div class="w-full lg:w-8/12 px-3 pt-5">
              <div class="flex items-center">
                <span class="text-22 md:text-2xl xl:text-28 font-bold text-black_mirage">Personal & contact Details</span>
                <div class="flex items-center font-bold text-primary cursor-pointer">  
                  <span class="icon-edit px-1"></span>
                  <a routerLink="../personal-info-edit">Edit</a>
                </div>
              </div>
              <div class="w-full flex flex-wrap items-center justify-between">
                <div class="flex items-center justify-start pt-4 md:pt-6">
                  <div class="flex flex-col items-start space-y-2">
                    <span class="text-primary/90 font-bold capitalize">full name :</span>
                    <span class="text-primary/90 font-bold capitalize">DOB :</span>
                  </div>
                  <div class="flex flex-col items-start space-y-2">
                    <span class="text-gray_gull font-bold capitalize">john deo</span>
                    <span class="text-gray_gull font-bold capitalize">20/07/2023</span>
                  </div>
                </div>
                <div class="flex items-center justify-start pt-4 md:pt-6">
                  <div class="flex flex-col items-start space-y-2">
                    <span class="text-primary/90 font-bold capitalize">phone number :</span>
                    <span class="text-primary/90 font-bold capitalize">email :</span>
                  </div>
                  <div class="flex flex-col items-start space-y-2">
                    <span class="text-gray_gull font-bold capitalize">+91 9865325789</span>
                    <span class="text-gray_gull font-bold capitalize">jhondeo@gmail.com</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-3 pt-5">
              <div class="flex items-center">
                <span class="text-22 md:text-2xl xl:text-28 font-bold text-black_mirage capitalize">address book</span>
                <div class="flex items-center font-bold text-primary cursor-pointer">  
                  <span class="icon-edit px-1"></span>
                  <a routerLink="../address-account-information">Edit</a>
                </div>
              </div>
              <div class="pt-4 md:pt-6">
                <div class="flex flex-col items-start space-y-2">
                  <span class="text-primary/90 font-bold capitalize">shiiping address :</span>
                  <span class="text-gray_gull font-bold capitalize">jhon deo</span>
                  <span class="text-gray_gull font-bold capitalize">no-01, first floor, beside empire-state gate-1</span>
                  <span class="text-gray_gull font-bold capitalize">taxas,U.S.A 987654</span>
                </div>
                <div class="flex flex-col items-start space-y-2 pt-6">
                  <span class="text-primary/90 font-bold capitalize">billing address :</span>
                  <span class="text-gray_gull font-bold capitalize">jhon deo</span>
                  <span class="text-gray_gull font-bold capitalize">no-01, first floor, beside empire-state gate-1</span>
                  <span class="text-gray_gull font-bold capitalize">taxas,U.S.A 987654</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
<div class="bg-primary py-10 xl:py-12">
  <div class="container">
    <div class="text-center w-full mb-6 md:mb-10 xl:mb-12">
      <img src="../assets/images/svg/Sellify.svg" class="brightness-0 invert mx-auto" alt="logilogo"/>
    </div>
    <div class="flex md:justify-between flex-wrap -px-3">
      <div class="w-full sm:w-1/2 md:w-auto p-3">
        <div class="w-full space-y-3 lg:space-y-4">
          <span class="block text-lg lg:text-xl font-bold text-white">Contact Us</span>
          <div class="w-full space-y-2">
            <span class="block text-sm lg:text-base text-light_gray">Mobile No : +91 9876543214</span>
            <span class="block text-sm lg:text-base text-light_gray">Email : Support@gmail.com</span>
            <div class="flex space-x-4 pt-2">
              <span class="inline-block">
                <img src="../assets/images/svg/Facebook.svg" alt="Facebook"/>
              </span>
              <span class="inline-block">
                <img src="../assets/images/svg/Twitter.svg" alt="Twitter"/>
              </span>
              <span class="inline-block">
                <img src="../assets/images/svg/Instagram.svg" alt="Instagram"/>
              </span>
              <span class="inline-block">
                <img src="../assets/images/svg/Github.svg" alt="Github"/>
              </span>
              <span class="inline-block">
                <img src="../assets/images/svg/LinkedIn.svg" alt="LinkedIn"/>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 md:w-auto p-3">
        <div class="w-full space-y-3 lg:space-y-4">
          <span class="block text-lg lg:text-xl font-bold text-white">Customer Services</span>
          <div class="w-full space-y-2">
            <a href="dashboard/contact-us" class="block text-sm lg:text-base text-light_gray">Contact Us</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Track Your Order</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Product Care & Repair</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Book an Appointment</a>
            <a href="dashboard/faq" class="block text-sm lg:text-base text-light_gray">Frequently Asked Questions</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Shipping & Returns</a>
          </div>
        </div>
      </div>
      <div class="w-1/2 md:w-auto p-3">
        <div class="w-full space-y-3 lg:space-y-4">
          <span class="block text-lg lg:text-xl font-bold text-white">About Us</span>
          <div class="w-full space-y-2">
            <a href="dashboard/about-us" class="block text-sm lg:text-base text-light_gray">About Us</a>
            <a href="dashboard/faq" class="block text-sm lg:text-base text-light_gray">FAQ</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Our Producers</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Sitemap</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Terms & Conditions</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Privacy Policy</a>
          </div>
        </div>
      </div>
      <div class="w-1/2 md:w-auto p-3">
        <div class="w-full space-y-3 lg:space-y-4">
          <span class="block text-lg lg:text-xl font-bold text-white">Catalog</span>
          <div class="w-full space-y-2">
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Earrings</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Necklaces</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Bracelets</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Rings</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Jewellery Box</a>
            <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Studs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
  <script src="../assets/js/script.js"></script>
