<div class="w-full relative">
  <!-- header -->
  <header class="w-full bg-white relative z-20">
    <div class="w-full relative bg-white drop-shadow-one py-5 z-10">
      <div class="container flex items-center relative">
        <div class="logo w-16 lg:w-20">
          <a href="javascript:void(0)">
            <img src="../assets/images/svg/Sellify.svg" class="w-full" alt="logoSellify">
          </a>
        </div>
      </div>
    </div>
  </header>
</div>

<!-- card  -->
<div class="w-full relative py-8 md:py-10 xl:py-12">
  <div class="container">
    <!-- step bar -->
    <div class="w-full max-w-xl mx-auto flex mb-6 lg:mb-8">
      <div class="w-1/4 relative stapholder active">
        <!-- step detils  -->
        <div class="text-center relative z-10">
          <!-- step box  -->
          <div class="stapbox w-4 h-4 mx-auto block rounded-full border-4 border-light_gray bg-white relative">
            <span
              class="icon-right text-white text-[8px] leading-3 absolute w-full h-full left-[0px] -top-[1px] opacity-0"></span>
          </div>
          <!-- step content -->
          <span class="font-primary text-primary text-xs md:text-sm block mt-1">Billing Address</span>
        </div>
      </div>
      <div class="w-1/4 relative stapholder">
        <!-- process line  -->
        <span class="processline absolute w-full h-1 bg-light_gray right-1/2 top-1.5"></span>
        <!-- step detils  -->
        <div class="text-center relative z-10">
          <!-- step box  -->
          <div class="stapbox w-4 h-4 mx-auto block rounded-full border-4 border-light_gray bg-white relative">
            <span
              class="icon-right text-white text-[8px] leading-3 absolute w-full h-full left-[0px] -top-[1px] opacity-0"></span>
          </div>
          <!-- step content -->
          <span class="font-primary text-primary text-xs md:text-sm block mt-1">Shipping Address</span>
        </div>
      </div>
      <div class="w-1/4 relative stapholder">
        <!-- process line  -->
        <span class="processline absolute w-full h-1 bg-light_gray right-1/2 top-1.5"></span>
        <!-- step detils  -->
        <div class="text-center relative z-10">
          <!-- step box  -->
          <div class="stapbox w-4 h-4 mx-auto block rounded-full border-4 border-light_gray bg-white relative">
            <span
              class="icon-right text-white text-[8px] leading-3 absolute w-full h-full left-[0px] -top-[1px] opacity-0"></span>
          </div>
          <!-- step content -->
          <span class="font-primary text-primary text-xs md:text-sm block mt-1">Shipping Address</span>
        </div>
      </div>
      <div class="w-1/4 relative stapholder">
        <!-- process line  -->
        <span class="processline absolute w-full h-1 bg-light_gray right-1/2 top-1.5"></span>
        <!-- step detils  -->
        <div class="text-center relative z-10">
          <!-- step box  -->
          <div class="stapbox w-4 h-4 mx-auto block rounded-full border-4 border-light_gray bg-white relative">
            <span
              class="icon-right text-white text-[8px] leading-3 absolute w-full h-full left-[0px] -top-[1px] opacity-0"></span>
          </div>
          <!-- step content -->
          <span class="font-primary text-primary text-xs md:text-sm block mt-1">Shipping Address</span>
        </div>
      </div>
    </div>
    <!-- card  -->
    <div class="w-full relative py-8 md:py-10 xl:py-12">
      <div class="container">
        <!-- step bar -->
        <div class="w-full max-w-xl mx-auto flex mb-6 lg:mb-8">
          <div class="w-1/4 relative stapholder active">
            <!-- step detils  -->
            <div class="text-center relative z-10">
              <!-- step box  -->
              <div class="stapbox w-4 h-4 mx-auto block rounded-full border-4 border-light_gray bg-white relative">
                <span
                  class="icon-right text-white text-[8px] leading-3 absolute w-full h-full left-[0px] -top-[1px] opacity-0"></span>
              </div>
              <!-- step content -->
              <span class="font-primary text-primary text-xs md:text-sm block mt-1">Billing Address</span>
            </div>
          </div>
          <div class="w-1/4 relative stapholder">
            <!-- process line  -->
            <span class="processline absolute w-full h-1 bg-light_gray right-1/2 top-1.5"></span>
            <!-- step detils  -->
            <div class="text-center relative z-10">
              <!-- step box  -->
              <div class="stapbox w-4 h-4 mx-auto block rounded-full border-4 border-light_gray bg-white relative">
                <span
                  class="icon-right text-white text-[8px] leading-3 absolute w-full h-full left-[0px] -top-[1px] opacity-0"></span>
              </div>
              <!-- step content -->
              <span class="font-primary text-primary text-xs md:text-sm block mt-1">Shipping Address</span>
            </div>
          </div>
          <div class="w-1/4 relative stapholder">
            <!-- process line  -->
            <span class="processline absolute w-full h-1 bg-light_gray right-1/2 top-1.5"></span>
            <!-- step detils  -->
            <div class="text-center relative z-10">
              <!-- step box  -->
              <div class="stapbox w-4 h-4 mx-auto block rounded-full border-4 border-light_gray bg-white relative">
                <span
                  class="icon-right text-white text-[8px] leading-3 absolute w-full h-full left-[0px] -top-[1px] opacity-0"></span>
              </div>
              <!-- step content -->
              <span class="font-primary text-primary text-xs md:text-sm block mt-1">Shipping Address</span>
            </div>
          </div>
          <div class="w-1/4 relative stapholder">
            <!-- process line  -->
            <span class="processline absolute w-full h-1 bg-light_gray right-1/2 top-1.5"></span>
            <!-- step detils  -->
            <div class="text-center relative z-10">
              <!-- step box  -->
              <div class="stapbox w-4 h-4 mx-auto block rounded-full border-4 border-light_gray bg-white relative">
                <span
                  class="icon-right text-white text-[8px] leading-3 absolute w-full h-full left-[0px] -top-[1px] opacity-0"></span>
              </div>
              <!-- step content -->
              <span class="font-primary text-primary text-xs md:text-sm block mt-1">Shipping Address</span>
            </div>
          </div>
        </div>
        <!-- titel  -->
        <div class="space-y-3 mb-6 lg:mb-8">
          <h2 class="font-bold text-black_mirage">Billing Address</h2>
          <span class="block text-primary font-semibold md:font-normal text-base lg:text-lg">Please enter details below
            to complete your purchase.</span>
        </div>
        <!-- order details  -->
        <div class="flex flex-wrap -mx-3">
          <!-- order product list  -->
          <div class="w-full lg:w-8/12 p-3">
            <form action="" method="post" class="w-full">
              <div class="flex flex-wrap -mx-2">
                <div class="w-full sm:w-1/2 p-2">
                  <label for="fname" class="cardinput">
                    <input type="text" name="fname" placeholder="First Name" id="fname" />
                  </label>
                </div>
                <div class="w-full sm:w-1/2 p-2">
                  <label for="lname" class="cardinput">
                    <input type="text" name="lname" placeholder="Last Name" id="lname" />
                  </label>
                </div>
                <div class="w-full sm:w-1/2 p-2">
                  <label for="email_address" class="cardinput">
                    <input type="text" name="email_address" placeholder="Email Address" id="email_address" />
                  </label>
                </div>
                <div class="w-full sm:w-1/2 p-2">
                  <label for="telephone" class="cardinput">
                    <input type="tel" name="telephone" placeholder="Telephone" id="telephone" />
                  </label>
                </div>
                <div class="w-full sm:w-1/2 p-2">
                  <label for="zip_code" class="cardinput">
                    <input type="text" name="zip_code" placeholder="Zip Code" id="zip_code" />
                  </label>
                </div>
                <div class="w-full sm:w-1/2 p-2">
                  <label for="country" class="cardinput">
                    <input type="text" placeholder="Country" name="country" id="country" />
                  </label>
                </div>
                <div class="w-full sm:w-1/2 p-2">
                  <label for="city" class="cardinput">
                    <input type="text" placeholder="City" name="city" id="city" />
                  </label>
                </div>
                <div class="w-full sm:w-1/2 p-2">
                  <label for="state" class="cardinput">
                    <input type="text" placeholder="State" name="State" id="state" />
                  </label>
                </div>
                <div class="w-full p-2">
                  <label for="address" class="cardinput">
                    <textarea name="address" placeholder="Address" id="address" cols="30" rows="5"></textarea>
                  </label>
                </div>
                <div class="flex items-center p-2">
                  <div class="checkbox relative w-4 h-4 rounded border border-gray_slate">
                    <input type="checkbox" name="ship_to_address" id="ship_to_address"
                      class="w-full h-full absolute inset-0 opacity-0" />
                    <span class="icon-right"></span>
                  </div>
                  <span class="inline-block pl-3 text-sm text-gray_slate font-semibold">Ship to the same address</span>
                </div>
              </div>
            </form>
          </div>
          <!-- order total  -->
          <div class="w-full lg:w-4/12 mt-6 lg:mt-0 p-3">
            <div class="w-full">
              <div class="w-full lg:max-w-[360px] mx-auto sm:mr-0 sm:ml-auto">
                <h4 class="block font-bold mb-3 sm:mb-6 lg:mb-10">Your Order</h4>
                <!-- product cost  -->
                <div class="w-full pb-2 space-y-2">
                  <div class="w-full flex items-center justify-between">
                    <span class="text-sm text-gray_slate font-bold pr-3">Floral rose gold finger ring x 1</span>
                    <span class="text-sm text-gray_slate font-bold">₹ 4814.00</span>
                  </div>
                  <div class="w-full flex items-center justify-between">
                    <span class="text-sm text-gray_slate font-bold pr-3">Floral rose gold finger ring x 2</span>
                    <span class="text-sm text-gray_slate font-bold">₹ 2814.00</span>
                  </div>
                </div>
                <!-- Sub Total -->
                <div class="w-full py-2 border-t border-gray_slate/50 space-y-2">
                  <div class="w-full flex items-center justify-between">
                    <span class="text-sm text-gray_slate font-bold pr-3">Sub Total</span>
                    <span class="text-sm text-gray_slate font-bold">₹ 7228.00</span>
                  </div>
                  <div class="w-full flex items-center justify-between">
                    <span class="text-sm text-gray_slate font-bold pr-3">Shipping Charge</span>
                    <span class="text-sm text-gray_slate font-bold">₹ 228.00</span>
                  </div>
                </div>
                <!-- total  -->
                <div class="w-full flex items-center justify-between py-2 border-t border-gray_slate/50">
                  <span class="font-primary text-black_mirage pr-3">Total</span>
                  <span class="text-lg xl:text-xl text-black_mirage font-bold">₹ 7228.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- order continue button  -->
        <div class="flex flex-wrap mt-8">
          <a href="cart.html" lang="button"
            class="card-btn-secondary ordernxtprw_btn mt-2 sm:mt-0 order-2 sm:order-1">Return to Cart</a>
          <a href="shipping_address.html" lang="button"
            class="card-btn-primary ordernxtprw_btn ml-auto mr-0 order-1 sm:order-2">Continue to Shopping</a>
        </div>
      </div>
    </div>
  </div>
</div>