<div class="w-full relative">
    
    <div class="flex flex-wrap py-8 md:py-10 xl:py-12">
      <div class="container">

       <!-- menu list flow/ -->
        <div class="h-menu-flow">
          <span>Home</span><span>></span><span class="active"> FAQs</span>
        </div>
        
        <!-- faq -->
        <div class="w-full py-8 md:py-10 xl:py-12">
          <h2 class="capitalize text-black_mirage font-bold">Frequently Asked Questions</h2>
          <div class="flex flex-wrap lg:flex-nowrap items-start justify-between pt-12">
            <div class="accordion flex flex-col items-start w-full lg:w-1/2">
              <div class="accordion-item w-full border rounded-lg anim">
                <button id="accordion-button-1" class="accord_btn" aria-expanded="false">
                  <span class="accordion-title">The order</span>
                  <span class="icon-downArrow2 anim" aria-hidden="true"></span>
                </button>
                <div class="accordion-content hidden max-h-0 transition-all py-4 px-9">
                  <div class="pt-2">
                    <span class="block text-lg md:text-xl font-bold text-black_mirage pb-1">When do I receive my order?</span>
                    <p class="text-gray_slate font-medium">
                      When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.
                    </p>
                  </div>
                  <div class="py-2">
                    <span class="block text-lg md:text-xl font-bold text-black_mirage pb-1">I now see the longer delivery time of (a part of) my order. How can I cancel it?</span>
                    <p class="text-gray_slate font-medium">
                      If the order has a longer delivery time than you had previously seen, it is of course possible to cancel (a part of) the order. For this you can contact our customer service. They will cancel the order for you. The purchase amount will be back on your bank account within two working days. When an order has already been shipped, it can no longer be cancelled.
                    </p>
                  </div>
                  <div class="pt-2">
                    <span class="block text-lg md:text-xl font-bold text-black_mirage pb-1">When will I receive the invoice for my order?</span>
                    <p class="text-gray_slate font-medium">
                      When you have paid for the order, you will not automatically receive an invoice for your order. If you wish to receive an invoice, this can be done in two ways.The first way is through your account at our store. When you log in to your account you can see your orders and download the invoice.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item w-full border rounded-lg anim mt-4">
                <button id="accordion-button-2" class="accord_btn" aria-expanded="false">
                  <span class="accordion-title">Returns, exchanges and complaints</span>
                  <span class="icon-downArrow2 anim" aria-hidden="true"></span>
                </button>
                <div class="accordion-content hidden max-h-0 transition-all py-4 px-9">
                  <div class="pt-2">
                    <span class="block text-lg md:text-xl font-bold text-black_mirage pb-1">When do I receive my order?</span>
                    <p class="text-gray_slate font-medium">
                      When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.
                    </p>
                  </div>
                  <div class="py-2">
                    <span class="block text-lg md:text-xl font-bold text-black_mirage pb-1">I now see the longer delivery time of (a part of) my order. How can I cancel it?</span>
                    <p class="text-gray_slate font-medium">
                      If the order has a longer delivery time than you had previously seen, it is of course possible to cancel (a part of) the order. For this you can contact our customer service. They will cancel the order for you. The purchase amount will be back on your bank account within two working days. When an order has already been shipped, it can no longer be cancelled.
                    </p>
                  </div>
                  <div class="pt-2">
                    <span class="block text-lg md:text-xl font-bold text-black_mirage pb-1">When will I receive the invoice for my order?</span>
                    <p class="text-gray_slate font-medium">
                      When you have paid for the order, you will not automatically receive an invoice for your order. If you wish to receive an invoice, this can be done in two ways.The first way is through your account at our store. When you log in to your account you can see your orders and download the invoice.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion flex flex-col items-start w-full lg:w-1/2 lg:ml-4">
              <div class="accordion-item w-full border rounded-lg anim mt-4 lg:mt-0">
                <button id="accordion-button-3" class="accord_btn" aria-expanded="false">
                  <span class="accordion-title">Shipment</span>
                  <span class="icon-downArrow2 anim" aria-hidden="true"></span>
                </button>
                <div class="accordion-content hidden max-h-0 transition-all py-4 px-9">
                  <div class="pt-2">
                    <span class="block text-lg md:text-xl font-bold text-black_mirage pb-1">When do I receive my order?</span>
                    <p class="text-gray_slate font-medium">
                      When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.
                    </p>
                  </div>
                  <div class="py-2">
                    <span class="block text-lg md:text-xl font-bold text-black_mirage pb-1">I now see the longer delivery time of (a part of) my order. How can I cancel it?</span>
                    <p class="text-gray_slate font-medium">
                      If the order has a longer delivery time than you had previously seen, it is of course possible to cancel (a part of) the order. For this you can contact our customer service. They will cancel the order for you. The purchase amount will be back on your bank account within two working days. When an order has already been shipped, it can no longer be cancelled.
                    </p>
                  </div>
                  <div class="pt-2">
                    <span class="block text-lg md:text-xl font-bold text-black_mirage pb-1">When will I receive the invoice for my order?</span>
                    <p class="text-gray_slate font-medium">
                      When you have paid for the order, you will not automatically receive an invoice for your order. If you wish to receive an invoice, this can be done in two ways.The first way is through your account at our store. When you log in to your account you can see your orders and download the invoice.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item w-full border rounded-lg anim mt-4">
                <button id="accordion-button-4" class="accord_btn" aria-expanded="false">
                  <span class="accordion-title">The order</span>
                  <span class="icon-downArrow2 anim" aria-hidden="true"></span>
                </button>
                <div class="accordion-content hidden max-h-0 transition-all py-4 px-9">
                  <div class="pt-2">
                    <span class="block text-lg md:text-xl font-bold text-black_mirage pb-1">When do I receive my order?</span>
                    <p class="text-gray_slate font-medium">
                      When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.
                    </p>
                  </div>
                  <div class="py-2">
                    <span class="block text-lg md:text-xl font-bold text-black_mirage pb-1">I now see the longer delivery time of (a part of) my order. How can I cancel it?</span>
                    <p class="text-gray_slate font-medium">
                      If the order has a longer delivery time than you had previously seen, it is of course possible to cancel (a part of) the order. For this you can contact our customer service. They will cancel the order for you. The purchase amount will be back on your bank account within two working days. When an order has already been shipped, it can no longer be cancelled.
                    </p>
                  </div>
                  <div class="pt-2">
                    <span class="block text-lg md:text-xl font-bold text-black_mirage pb-1">When will I receive the invoice for my order?</span>
                    <p class="text-gray_slate font-medium">
                      When you have paid for the order, you will not automatically receive an invoice for your order. If you wish to receive an invoice, this can be done in two ways.The first way is through your account at our store. When you log in to your account you can see your orders and download the invoice.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>

    <!-- footer -->
    <div class="bg-primary py-10 xl:py-12">
      <div class="container">
        <div class="text-center w-full mb-6 md:mb-10 xl:mb-12">
          <img src="../assets/images/svg/Sellify.svg" class="brightness-0 invert mx-auto" alt="logilogo"/>
        </div>
        <div class="flex md:justify-between flex-wrap -px-3">
          <div class="w-full sm:w-1/2 md:w-auto p-3">
            <div class="w-full space-y-3 lg:space-y-4">
              <span class="block text-lg lg:text-xl font-bold text-white">Contact Us</span>
              <div class="w-full space-y-2">
                <span class="block text-sm lg:text-base text-light_gray">Mobile No : +91 9876543214</span>
                <span class="block text-sm lg:text-base text-light_gray">Email : Support@gmail.com</span>
                <div class="flex space-x-4 pt-2">
                  <span class="inline-block">
                    <img src="../assets/images/svg/Facebook.svg" alt="Facebook"/>
                  </span>
                  <span class="inline-block">
                    <img src="../assets/images/svg/Twitter.svg" alt="Twitter"/>
                  </span>
                  <span class="inline-block">
                    <img src="../assets/images/svg/Instagram.svg" alt="Instagram"/>
                  </span>
                  <span class="inline-block">
                    <img src="../assets/images/svg/Github.svg" alt="Github"/>
                  </span>
                  <span class="inline-block">
                    <img src="../assets/images/svg/LinkedIn.svg" alt="LinkedIn"/>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-auto p-3">
            <div class="w-full space-y-3 lg:space-y-4">
              <span class="block text-lg lg:text-xl font-bold text-white">Customer Services</span>
              <div class="w-full space-y-2">
                <a href="dashboard/contact-us" class="block text-sm lg:text-base text-light_gray">Contact Us</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Track Your Order</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Product Care & Repair</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Book an Appointment</a>
                <a href="dashboard/faq" class="block text-sm lg:text-base text-light_gray">Frequently Asked Questions</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Shipping & Returns</a>
              </div>
            </div>
          </div>
          <div class="w-1/2 md:w-auto p-3">
            <div class="w-full space-y-3 lg:space-y-4">
              <span class="block text-lg lg:text-xl font-bold text-white">About Us</span>
              <div class="w-full space-y-2">
                <a href="dashboard/about-us" class="block text-sm lg:text-base text-light_gray">About Us</a>
                <a href="dashboard/faq" class="block text-sm lg:text-base text-light_gray">FAQ</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Our Producers</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Sitemap</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Terms & Conditions</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Privacy Policy</a>
              </div>
            </div>
          </div>
          <div class="w-1/2 md:w-auto p-3">
            <div class="w-full space-y-3 lg:space-y-4">
              <span class="block text-lg lg:text-xl font-bold text-white">Catalog</span>
              <div class="w-full space-y-2">
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Earrings</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Necklaces</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Bracelets</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Rings</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Jewellery Box</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Studs</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
</div>

  <script src="../assets/js/script.js"></script>
  <script>
    const items = document.querySelectorAll('.accordion button');

    function toggleAccordion() {
      const itemToggle = this.getAttribute('aria-expanded');

      for (i = 0; i < items.length; i++) {
        items[i].setAttribute('aria-expanded', 'false');
      }

      if (itemToggle == 'false') {
        this.setAttribute('aria-expanded', 'true');
      }else{
        this.setAttribute('aria-expanded', 'false');
      }
    }

    items.forEach((item) => item.addEventListener('click', toggleAccordion));
  </script>
