<img src="./assest/images/loginbg.png" class="absolute inset-y-0 left-0 h-screen" alt="">
<div class="relative z-20 flex items-center justify-center w-full h-screen">
    <div class="max-w-[475px] w-full px-4">
        <div class="homr_logo -mt-10 mb-10 md:-mt-24 md:mb-24 text-center"><a href="#" class="block max-w-[238px] mx-auto"><img src="./assest/images/logilogo.png" class="w-full mx-auto" alt=""></a></div>
        <div class="form_data space-y-7">
        <div class="space-y-1 md:space-y-3">
            <span class="block text-2xl sm:text-28 font-bold">Reset Password</span>
            <p class="text-gray_slate text-sm font-semibold">Create your New Password</p>
        </div>
        <form action="" class="space-y-4 sm:space-y-4">
            <div class="flex items-center w-full bg-light_gray text-gray_gull rounded-lg text-sm sm:text-base p-2 sm:p-3">
            <label for="newpassWord" class="icon-lock px-3"></label>
            <input type="password" id="newpassWord" class="border-0 outline-none bg-transparent w-full" placeholder="New Password">
            </div>
            <div class="flex items-center w-full bg-light_gray text-gray_gull rounded-lg text-sm sm:text-base p-2 sm:p-3">
            <label for="confrimpassWord" class="icon-lock px-3"></label>
            <input type="password" id="confrimpassWord" class="border-0 outline-none bg-transparent w-full" placeholder="Confirm Password">
            </div>
            <div class="flex items-center pt-3">
            <button lang="submit" class="bg-primary w-full rounded-lg text-base md:text-lg lg:text-xl text-white capitalize font-medium p-2 md:p-3">continue</button>
            </div>
            <div class="pt-3"><div class="pt-3"><hr></div></div>
            <div class="flex items-center justify-between text-xs md:text-base">
            <span class="capitalize text-gray_slate font-semibold">don’t have an account?</span>
            <a href="" class="capitalize text-primary font-semibold">sign Up to your account</a>
            </div>
        </form>
        </div>
    </div>
</div>
