<img src="./assest/images/loginbg.png" class="absolute inset-y-0 left-0 h-screen" alt="">
<div class="relative z-20 flex items-center justify-center w-full h-screen">
    <div class="max-w-[475px] w-full px-4">
        <div class="homr_logo -mt-10 mb-10 md:-mt-24 md:mb-24 text-center"><a href="#" class="block max-w-[238px] mx-auto"><img src="./assest/images/logilogo.png" class="w-full mx-auto" alt=""></a></div>
        <div class="form_data space-y-7">
        <div class="space-y-1 md:space-y-3">
            <span class="block text-2xl sm:text-28 font-bold">Verification code</span>
            <p class="text-gray_slate text-sm sm:text-base">We have just sent a verification code to <span class="text-black font-medium">name@gmail.com</span></p>
        </div>
        <form action="" class="space-y-2 sm:space-y-6">
            <div class="flex items-center justify-between -mx-2 sm:-mx-4">
            <div class="flex items-center justify-center w-1/4 px-2 sm:px-4">
                <input type="number" id="codeNumber" class="outline-none w-full text-center bg-light_gray text-gray_gull rounded-lg text-sm sm:text-base py-3 lg:py-5"/>
            </div>
            <div class="flex items-center justify-center w-1/4 px-2 sm:px-4">
                <input type="number" id="codeNumber" class="outline-none w-full text-center bg-light_gray text-gray_gull rounded-lg text-sm sm:text-base py-3 lg:py-5"/>
            </div>
            <div class="flex items-center justify-center w-1/4 px-2 sm:px-4">
                <input type="number" id="codeNumber" class="outline-none w-full text-center bg-light_gray text-gray_gull rounded-lg text-sm sm:text-base py-3 lg:py-5"/>
            </div>
            <div class="flex items-center justify-center w-1/4 px-2 sm:px-4">
                <input type="number" id="codeNumber" class="outline-none w-full text-center bg-light_gray text-gray_gull rounded-lg text-sm sm:text-base py-3 lg:py-5"/>
            </div>
            </div>
            <div class="flex items-center pt-3">
            <button lang="submit" class="bg-primary w-full rounded-lg text-base md:text-lg lg:text-xl text-white capitalize font-medium p-2 md:p-3">continue</button>
            </div>
            <div class="pt-3"><hr></div>
            <div class="flex items-center justify-between text-xs md:text-base">
            <span class="capitalize text-gray_slate font-semibold">i didn’t receive code?</span>
            <a href="" class="capitalize text-primary font-semibold">resend</a>
            </div>
        </form>
        </div>
    </div>
</div>
