<div class="w-full relative">
  <!-- header -->
  <header class="w-full bg-white relative z-20">
    <div class="w-full relative bg-white drop-shadow-one py-5 z-10">
      <div class="container flex items-center relative">
        <div class="logo w-16 lg:w-20">
          <a href="javascript:void(0)">
            <img src="../assets/images/svg/Sellify.svg" class="w-full" alt="logoSellify">
          </a>
        </div>
      </div>
    </div>
  </header>
  <!-- card  -->
  <div class="w-full relative py-8 md:py-10 xl:py-12">
    <div class="container">
      <div class="flex flex-wrap -mx-3">
        <div class="w-full lg:w-9/12 p-3">
          <!-- titel  -->
          <div class="space-y-3 mb-6 lg:mb-8">
            <div class="flex items-center space-y-2 sm:space-y-0 space-x-3">
              <div class="rounded-full bg-[#11A75C]">
                <div class="w-8 h-8 lg:w-10 lg:h-10 flex items-center justify-center">
                  <span class="icon-right text-base lg:text-xl text-white"></span>
                </div>
              </div>
              <h2 class="font-bold text-[#11A75C]">Order Placed Successful, Thank you!</h2>
            </div>
            <span class="block text-primary font-semibold md:font-normal text-base lg:text-lg">Confirmation will be sent to your email.</span>
          </div>
          <!-- order details  -->
          <div class="max-w-full lg:max-w-3xl lg:pr-6">
            <!-- Review Order list  -->
            <div class="w-full py-4 space-y-3 border-b border-gray_slate/25">
              <h4 class="block font-bold text-secondary">Delivery Address</h4>
              <div class="flex sm:items-center">
                <div class="text-left">
                  <span class="block font-primary text-base text-primary">Shipping Address</span>
                  <p class="block text-sm text-gray_slate font-bold pr-3 mt-1.5">Jone Doe</p>
                  <p class="block text-sm text-gray_slate font-bold pr-3">No-01, First Floor, Beside Empire-state Gate-1</p>
                  <p class="block text-sm text-gray_slate font-bold pr-3">Taxas, U.S.A 987654</p>
                </div>
                <a href="javascript:void(0)" class="font-primary underline ml-auto">Change</a>
              </div>
            </div>
            <div class="w-full py-4">
              <h4 class="block font-bold text-secondary">Review Item & Delivery</h4>
              <p class="mt-3 xl:mt-4 font-primary">Delivery date:- <span class="text-primary">03 Mar 2023</span>
              </p>
              <div class="flex flex-wrap items-center mt-4">
                <div class="w-28 h-28 mb-2">
                  <div class="w-full h-full">
                    <img src="../assets/images/review_product.png" class="w-full" alt="review_product">
                  </div>
                </div>
                <div class="w-full sm:w-[calc(100%-112px)] sm:pl-6">
                  <span class="font-primary text-secondary text-base pr-3">Floral rose gold finger ring</span>
                  <p class="text-xs text-gray_slate max-w-md font-medium">Add the gentle charm of flowers to your look with this finger ring crafted in 18 Karat Rose Gold with diamonds. Stone Clarity SI2</p>
                  <div class="flex items-center space-x-2 mt-1">
                    <span class="inline-block font-primary text-primary text-xs sm:text-sm">Offer Price</span>
                    <span class="inline-block font-primary text-secondary">₹ 24 814.00</span>
                    <span class="inline-block text-gray_slate text-xs sm:text-sm font-light">Price ₹ 26 398.00</span>
                  </div>
                  <span class="p-1 px-2 rounded text-xs font-bold bg-primary text-white inline-block mt-2">Flat 6 % Off</span>
                  <div class="flex flex-wrap sm:space-x-3 mt-2">
                    <p class="font-primary text-sm text-black_mirage pr-3">Gold Purity : 18.00 Karat</p>
                    <p class="font-primary text-sm text-black_mirage">Diamond Weight: 0.106c</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-3/12 p-3 flex">
          <a href="javascript:void(0)" type="button" class="card-btn-secondary ordernxtprw_btn w-full lg:ml-auto mt-auto mr-0 order-1 sm:order-2"> Review Your Recent Orders</a>
        </div>
        <div class="w-full">
          <div class="flex flex-wrap py-8 md:py-10 xl:py-12">
            <!-- titel  -->
            <div class="w-full mb-3 px-3">
              <h2 class="font-bold text-black_mirage">Similar Products</h2>
            </div>
            <!-- Product List  -->
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3">
              <div class="w-full max-w-[306px] mx-auto bg-white hover:drop-shadow-one rounded-bl-xl rounded-br-xl anim">
                <div class="relative max-w-[306px] mx-auto">
                  <div class="absolute top-3 right-3">
                    <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white">
                      <i class="icon-fillHeart text-lg text-primary"></i>
                    </span>
                  </div>
                  <img class="w-full" src="../assets/images/product1.png" alt="product1">
                  <div class="absolute bottom-2 left-2">
                    <span class="block bg-white text-primary text-sm font-medium px-2 rounded-md">Flat 6% off</span>
                  </div>
                </div>
                <div class="space-y-1 sm:space-y-2 p-3">
                  <div class="w-full">
                    <span class="font-primary text-sm">Twinkling Night Stud Earrings</span>
                    <div class="w-full flex items-center">
                      <span class="text-sm font-bold">₹ 30329,</span>
                      <span class="text-xs text-gray_gull font-medium pl-1">₹ 32265</span>
                    </div>
                  </div>
                  <div class="flex items-center flex-wrap text-sm font-semibold">
                    <span class="inline-block">women</span>
                    <span class="inline-block px-2">|</span>
                    <span class="inline-block">earrings</span>
                  </div>
                  <div class="text-xs sm:text-sm font-medium">
                    <button type="button" class="card-btn-secondary w-full">Explore Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3">
              <div class="w-full max-w-[306px] mx-auto bg-white hover:drop-shadow-one rounded-bl-xl rounded-br-xl anim">
                <div class="relative max-w-[306px] mx-auto">
                  <div class="absolute top-3 right-3">
                    <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white">
                      <i class="icon-fillHeart text-lg text-primary"></i>
                    </span>
                  </div>
                  <img class="w-full" src="../assets/images/product1.png" alt="product1">
                  <div class="absolute bottom-2 left-2">
                    <span class="block bg-white text-primary text-sm font-medium px-2 rounded-md">Flat 6% off</span>
                  </div>
                </div>
                <div class="space-y-1 sm:space-y-2 p-3">
                  <div class="w-full">
                    <span class="font-primary text-sm">Twinkling Night Stud Earrings</span>
                    <div class="w-full flex items-center">
                      <span class="text-sm font-bold">₹ 30329,</span>
                      <span class="text-xs text-gray_gull font-medium pl-1">₹ 32265</span>
                    </div>
                  </div>
                  <div class="flex items-center flex-wrap text-sm font-semibold">
                    <span class="inline-block">women</span>
                    <span class="inline-block px-2">|</span>
                    <span class="inline-block">earrings</span>
                  </div>
                  <div class="text-xs sm:text-sm font-medium">
                    <button type="button" class="card-btn-secondary w-full">Explore Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3">
              <div class="w-full max-w-[306px] mx-auto bg-white hover:drop-shadow-one rounded-bl-xl rounded-br-xl anim">
                <div class="relative max-w-[306px] mx-auto">
                  <div class="absolute top-3 right-3">
                    <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white">
                      <i class="icon-fillHeart text-lg text-primary"></i>
                    </span>
                  </div>
                  <img class="w-full" src="../assets/images/product1.png" alt="product1">
                  <div class="absolute bottom-2 left-2">
                    <span class="block bg-white text-primary text-sm font-medium px-2 rounded-md">Flat 6% off</span>
                  </div>
                </div>
                <div class="space-y-1 sm:space-y-2 p-3">
                  <div class="w-full">
                    <span class="font-primary text-sm">Twinkling Night Stud Earrings</span>
                    <div class="w-full flex items-center">
                      <span class="text-sm font-bold">₹ 30329,</span>
                      <span class="text-xs text-gray_gull font-medium pl-1">₹ 32265</span>
                    </div>
                  </div>
                  <div class="flex items-center flex-wrap text-sm font-semibold">
                    <span class="inline-block">women</span>
                    <span class="inline-block px-2">|</span>
                    <span class="inline-block">earrings</span>
                  </div>
                  <div class="text-xs sm:text-sm font-medium">
                    <button type="button" class="card-btn-secondary w-full">Explore Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3">
              <div class="w-full max-w-[306px] mx-auto bg-white hover:drop-shadow-one rounded-bl-xl rounded-br-xl anim">
                <div class="relative max-w-[306px] mx-auto">
                  <div class="absolute top-3 right-3">
                    <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white">
                      <i class="icon-fillHeart text-lg text-primary"></i>
                    </span>
                  </div>
                  <img class="w-full" src="../assets/images/product1.png" alt="product1">
                  <div class="absolute bottom-2 left-2">
                    <span class="block bg-white text-primary text-sm font-medium px-2 rounded-md">Flat 6% off</span>
                  </div>
                </div>
                <div class="space-y-1 sm:space-y-2 p-3">
                  <div class="w-full">
                    <span class="font-primary text-sm">Twinkling Night Stud Earrings</span>
                    <div class="w-full flex items-center">
                      <span class="text-sm font-bold">₹ 30329,</span>
                      <span class="text-xs text-gray_gull font-medium pl-1">₹ 32265</span>
                    </div>
                  </div>
                  <div class="flex items-center flex-wrap text-sm font-semibold">
                    <span class="inline-block">women</span>
                    <span class="inline-block px-2">|</span>
                    <span class="inline-block">earrings</span>
                  </div>
                  <div class="text-xs sm:text-sm font-medium">
                    <button type="button" class="card-btn-secondary w-full">Explore Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cart_menu" class="cartPopUp fixed inset-0 z-50 hidden mt-auto items-center">
  <span class="backDrop fixed inset-0 bg-black/40 opacity-0 -z-50" onclick="removeClass('cart_menu','show')"></span>
  <div class="w-full px-4">
    <div class="relative cart_menu flex flex-col justify-between max-w-[507px] w-full bg-white rounded-xl drop-shadow-tow opacity-0 p-4 sm:p-6 md:p-8 mx-auto anim">
      <h3 class="block text-center font-bold">Write Review</h3>
      <div class="w-full">
        <span class="block text-secondary font-semibold">Rate Product</span>
        <div class="flex flex-wrap SM:flex-nowrap items-center pt-2">
          <div class="rating_start flex justify-center items-center space-x-4 pt-1">
            <span class="inline-block">
              <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62"/>
              </svg>
            </span>
            <span class="inline-block">
              <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#CBD5E1"/>
              </svg>
            </span>
            <span class="inline-block">
              <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#CBD5E1"/>
              </svg>
            </span>
            <span class="inline-block">
              <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#CBD5E1"/>
              </svg>
            </span>
            <span class="inline-block">
              <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#CBD5E1"/>
              </svg>
            </span>
          </div>
          <span class="text-sm text-gray_slate sm:pl-6 pt-1">(Choose a rating)</span>
        </div>
      </div>
      <form action="" class="flex flex-wrap items-center -mx-2 pt-4 md:pt-6">
        <div class="w-full p-2">
          <label for="review_massage" class="cardinput">
            <textarea name="review_massage" placeholder="Wright a Massage" id="review_massage" cols="30" rows="4" class="text-xs md:text-sm"></textarea>
          </label>
        </div>
        <div class="w-full sm:w-1/2 p-2">
          <label class="block cursor-pointer bg-light_gray font-semibold text-primary text-sm lg:text-base outline-2 outline-dashed outline-primary/10 rounded-lg md:p-4 p-3 lg:p-5">
            <input type="file" name="upload_img" id="upload_img" class="placeholder-opacity-0 hidden" />
            <div class="flex items-center">
              <span class="icon-uploadImg mr-2"></span>
              <span>Upload Image</span>
            </div>
          </label>
        </div>
        <div class="w-full sm:w-1/2 p-2">
          <label class="block cursor-pointer bg-light_gray font-semibold text-primary text-sm lg:text-base outline-2 outline-dashed outline-primary/10 rounded-lg md:p-4 p-3 lg:p-5">
            <input type="file" name="upload_img" id="upload_img" class="placeholder-opacity-0 hidden" />
            <div class="flex items-center">
              <span class="icon-uploadVideo mr-2"></span>
              <span>Upload Video</span>
            </div>
          </label>
        </div>
        <div class="w-full flex text-xs sm:text-base font-medium space-x-2 pt-6 px-2">
          <button type="reset" class="py-4 card-btn-secondary">Cancle</button>
          <button type="submit" class="py-4 card-btn-primary" onclick="removeClass('cart_menu','show')">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="../assets/js/script.js"></script>
