<div class="w-full relative">
    <!-- banner  -->
    <div class="w-full relative z-10">
      <div class="slider relative w-full h-[300px] md:h-[450px] lg:h-[calc(100vh-180px)] overflow-hidden">
        <div class="slide absolute top-0 w-full h-full flex justify-center items-center anim">
          <img class="w-full h-full object-cover" src="../assets/images/banner1.png" alt="Photo1" />
        </div>
        <div class="slide absolute top-0 w-full h-full flex justify-center items-center anim">
          <img class="w-full h-full object-cover" src="../assets/images/banner1.png" alt="Photo3" />
        </div>
        <div class="slide absolute top-0 w-full h-full flex justify-center items-center anim">
          <img class="w-full h-full object-cover" src="../assets/images/banner1.png" alt="Photo2" />
        </div>
        <div class="slide absolute top-0 w-full h-full flex justify-center items-center anim">
          <img class="w-full h-full object-cover" src="../assets/images/banner1.png" alt="Photo3" />
        </div>
        <!-- <button class="btn-slide prev z-50 cursor-pointer absolute top-1/2 -translate-y-1/2 left-5 text-4xl"><i class="icon-leftArrow"></i></button><button class="btn-slide next z-50 cursor-pointer absolute top-1/2 -translate-y-1/2 right-5 text-4xl"><i class="icon-rightArrow"></i></button> -->
      </div>
      <div class="dots-container flex justify-center items-center space-x-2 py-4">
        <span class="dot w-2 h-2 rounded-full bg-light_gray active" data-slide="0"></span>
        <span class="dot w-2 h-2 rounded-full bg-light_gray" data-slide="1"></span>
        <span class="dot w-2 h-2 rounded-full bg-light_gray" data-slide="2"></span>
        <span class="dot w-2 h-2 rounded-full bg-light_gray" data-slide="3"></span>
      </div>
    </div>
    <!-- Jewellery Collection & Featured Collection -->
    <div class="w-full">
      <div class="container">
        <!-- Jewellery Collection -->
        <div class="flex flex-wrap -mx-3 py-8 md:py-10 xl:py-12">
          <div class="w-full sm:w-1/2 p-3">
            <div class="w-full p-5 py-10 relative rounded-2xl overflow-hidden">
              <img src="../assets/images/braceletsAd.png" class="w-full h-full absolute inset-0 object-cover" alt="braceletsAd" />
              <div class="w-full sm:w-8/12 md:w-1/2 text-right sm:text-left space-y-3 text-[#334155] relative ml-auto">
                <h2 class="font-semibold">Bracelets</h2>
                <a href="javascript:void(0)" class="text-lg lg:text-xl xl:text-[22px] underline font-semibold block">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 p-3">
            <div class="w-full p-5 py-10 relative rounded-2xl overflow-hidden">
              <img src="../assets/images/necklacesAd.png" class="w-full h-full absolute inset-0 object-cover" alt="necklacesAd" />
              <div class="w-full sm:w-8/12 md:w-1/2 text-right sm:text-left space-y-3 text-white relative ml-auto">
                <h2 class="font-semibold">Necklaces</h2>
                <a href="javascript:void(0)" class="text-lg lg:text-xl xl:text-[22px] underline font-semibold block">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 p-3">
            <div class="w-full p-5 py-10 relative rounded-2xl overflow-hidden">
              <img src="../assets/images/earringsAd.png" class="w-full h-full absolute inset-0 object-cover" alt="Earrings" />
              <div class="w-full sm:w-8/12 md:w-1/2 text-right sm:text-left space-y-3 text-white relative ml-auto">
                <h2 class="font-semibold">Earrings</h2>
                <a href="javascript:void(0)" class="text-lg lg:text-xl xl:text-[22px] underline font-semibold block">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 p-3">
            <div class="w-full p-5 py-10 relative rounded-2xl overflow-hidden">
              <img src="../assets/images/ringsAd.png" class="w-full h-full absolute inset-0 object-cover" alt="ringsAd" />
              <div class="w-full sm:w-8/12 md:w-1/2 text-right sm:text-left space-y-3 text-[#334155] relative ml-auto">
                <h2 class="font-semibold">Rings</h2>
                <a href="javascript:void(0)" class="text-lg lg:text-xl xl:text-[22px] underline font-semibold block">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Featured Collection -->
        <div class="flex flex-wrap -mx-3 py-8 md:py-10 xl:py-12">
          <!-- titel  -->
          <div class="w-full text-center mb-10 px-3">
            <h2 class="font-bold text-black_mirage">Featured Collection</h2>
            <span class="w-full max-w-[250px] mx-auto h-1 inline-block bg-black_mirage"></span>
          </div>
          <!-- Product List  -->
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3">
            <div class="w-full max-w-[306px] mx-auto bg-white hover:drop-shadow-one rounded-bl-xl rounded-br-xl anim">
              <div class="relative max-w-[306px] mx-auto">
                <div class="absolute top-3 right-3">
                  <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white">
                    <i class="icon-fillHeart text-lg text-primary"></i>
                  </span>
                </div>
                <img class="w-full" src="../assets/images/product1.png" alt="product1" />
                <div class="absolute bottom-2 left-2">
                  <span class="block bg-white text-primary text-sm font-medium px-2 rounded-md">Flat 6% off</span>
                </div>
              </div>
              <div class="space-y-1 sm:space-y-2 p-3">
                <div class="w-full">
                  <span class="font-primary text-sm">Twinkling Night Stud Earrings</span>
                  <div class="w-full flex items-center">
                    <span class="text-sm font-bold">₹ 30329,</span>
                    <span class="text-xs text-gray_gull font-medium pl-1">₹ 32265</span>
                  </div>
                </div>
                <div class="flex items-center flex-wrap text-sm font-semibold">
                  <span class="inline-block">women</span>
                  <span class="inline-block px-2">|</span>
                  <span class="inline-block">earrings</span>
                </div>
                <div class="flex flex-nowrap items-center justify-between text-xs sm:text-sm font-medium space-x-2">
                  <button lang="button" class="card-btn-secondary">Add to cart</button>
                  <button lang="button" class="card-btn-primary">Buy</button>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3">
            <div class="w-full max-w-[306px] mx-auto bg-white hover:drop-shadow-one rounded-bl-xl rounded-br-xl anim">
              <div class="relative max-w-[306px] mx-auto">
                <div class="absolute top-3 right-3">
                  <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white">
                    <i class="icon-fillHeart text-lg text-primary"></i>
                  </span>
                </div>
                <img class="w-full" src="../assets/images/product1.png" alt="product1" />
                <div class="absolute bottom-2 left-2">
                  <span class="block bg-white text-primary text-sm font-medium px-2 rounded-md">Flat 6% off</span>
                </div>
              </div>
              <div class="space-y-1 sm:space-y-2 p-3">
                <div class="w-full">
                  <span class="font-primary text-sm">Twinkling Night Stud Earrings</span>
                  <div class="w-full flex items-center">
                    <span class="text-sm font-bold">₹ 30329,</span>
                    <span class="text-xs text-gray_gull font-medium pl-1">₹ 32265</span>
                  </div>
                </div>
                <div class="flex items-center flex-wrap text-sm font-semibold">
                  <span class="inline-block">women</span>
                  <span class="inline-block px-2">|</span>
                  <span class="inline-block">earrings</span>
                </div>
                <div class="flex flex-nowrap items-center justify-between text-xs sm:text-sm font-medium space-x-2">
                  <button lang="button" class="card-btn-secondary">Add to cart</button>
                  <button lang="button" class="card-btn-primary">Buy</button>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3">
            <div class="w-full max-w-[306px] mx-auto bg-white hover:drop-shadow-one rounded-bl-xl rounded-br-xl anim">
              <div class="relative max-w-[306px] mx-auto">
                <div class="absolute top-3 right-3">
                  <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white">
                    <i class="icon-fillHeart text-lg text-primary"></i>
                  </span>
                </div>
                <img class="w-full" src="../assets/images/product1.png" alt="product1" />
                <div class="absolute bottom-2 left-2">
                  <span class="block bg-white text-primary text-sm font-medium px-2 rounded-md">Flat 6% off</span>
                </div>
              </div>
              <div class="space-y-1 sm:space-y-2 p-3">
                <div class="w-full">
                  <span class="font-primary text-sm">Twinkling Night Stud Earrings</span>
                  <div class="w-full flex items-center">
                    <span class="text-sm font-bold">₹ 30329,</span>
                    <span class="text-xs text-gray_gull font-medium pl-1">₹ 32265</span>
                  </div>
                </div>
                <div class="flex items-center flex-wrap text-sm font-semibold">
                  <span class="inline-block">women</span>
                  <span class="inline-block px-2">|</span>
                  <span class="inline-block">earrings</span>
                </div>
                <div class="flex flex-nowrap items-center justify-between text-xs sm:text-sm font-medium space-x-2">
                  <button lang="button" class="card-btn-secondary">Add to cart</button>
                  <button lang="button" class="card-btn-primary">Buy</button>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3">
            <div class="w-full max-w-[306px] mx-auto bg-white hover:drop-shadow-one rounded-bl-xl rounded-br-xl anim">
              <div class="relative max-w-[306px] mx-auto">
                <div class="absolute top-3 right-3">
                  <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white">
                    <i class="icon-fillHeart text-lg text-primary"></i>
                  </span>
                </div>
                <img class="w-full" src="../assets/images/product1.png" alt="product1" />
                <div class="absolute bottom-2 left-2">
                  <span class="block bg-white text-primary text-sm font-medium px-2 rounded-md">Flat 6% off</span>
                </div>
              </div>
              <div class="space-y-1 sm:space-y-2 p-3">
                <div class="w-full">
                  <span class="font-primary text-sm">Twinkling Night Stud Earrings</span>
                  <div class="w-full flex items-center">
                    <span class="text-sm font-bold">₹ 30329,</span>
                    <span class="text-xs text-gray_gull font-medium pl-1">₹ 32265</span>
                  </div>
                </div>
                <div class="flex items-center flex-wrap text-sm font-semibold">
                  <span class="inline-block">women</span>
                  <span class="inline-block px-2">|</span>
                  <span class="inline-block">earrings</span>
                </div>
                <div class="flex flex-nowrap items-center justify-between text-xs sm:text-sm font-medium space-x-2">
                  <button lang="button" class="card-btn-secondary">Add to cart</button>
                  <button lang="button" class="card-btn-primary">Buy</button>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3">
            <div class="w-full max-w-[306px] mx-auto bg-white hover:drop-shadow-one rounded-bl-xl rounded-br-xl anim">
              <div class="relative max-w-[306px] mx-auto">
                <div class="absolute top-3 right-3">
                  <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white">
                    <i class="icon-fillHeart text-lg text-primary"></i>
                  </span>
                </div>
                <img class="w-full" src="../assets/images/product1.png" alt="product1" />
                <div class="absolute bottom-2 left-2">
                  <span class="block bg-white text-primary text-sm font-medium px-2 rounded-md">Flat 6% off</span>
                </div>
              </div>
              <div class="space-y-1 sm:space-y-2 p-3">
                <div class="w-full">
                  <span class="font-primary text-sm">Twinkling Night Stud Earrings</span>
                  <div class="w-full flex items-center">
                    <span class="text-sm font-bold">₹ 30329,</span>
                    <span class="text-xs text-gray_gull font-medium pl-1">₹ 32265</span>
                  </div>
                </div>
                <div class="flex items-center flex-wrap text-sm font-semibold">
                  <span class="inline-block">women</span>
                  <span class="inline-block px-2">|</span>
                  <span class="inline-block">earrings</span>
                </div>
                <div class="flex flex-nowrap items-center justify-between text-xs sm:text-sm font-medium space-x-2">
                  <button lang="button" class="card-btn-secondary">Add to cart</button>
                  <button lang="button" class="card-btn-primary">Buy</button>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3">
            <div class="w-full max-w-[306px] mx-auto bg-white hover:drop-shadow-one rounded-bl-xl rounded-br-xl anim">
              <div class="relative max-w-[306px] mx-auto">
                <div class="absolute top-3 right-3">
                  <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white">
                    <i class="icon-fillHeart text-lg text-primary"></i>
                  </span>
                </div>
                <img class="w-full" src="../assets/images/product1.png" alt="product1" />
                <div class="absolute bottom-2 left-2">
                  <span class="block bg-white text-primary text-sm font-medium px-2 rounded-md">Flat 6% off</span>
                </div>
              </div>
              <div class="space-y-1 sm:space-y-2 p-3">
                <div class="w-full">
                  <span class="font-primary text-sm">Twinkling Night Stud Earrings</span>
                  <div class="w-full flex items-center">
                    <span class="text-sm font-bold">₹ 30329,</span>
                    <span class="text-xs text-gray_gull font-medium pl-1">₹ 32265</span>
                  </div>
                </div>
                <div class="flex items-center flex-wrap text-sm font-semibold">
                  <span class="inline-block">women</span>
                  <span class="inline-block px-2">|</span>
                  <span class="inline-block">earrings</span>
                </div>
                <div class="flex flex-nowrap items-center justify-between text-xs sm:text-sm font-medium space-x-2">
                  <button lang="button" class="card-btn-secondary">Add to cart</button>
                  <button lang="button" class="card-btn-primary">Buy</button>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3">
            <div class="w-full max-w-[306px] mx-auto bg-white hover:drop-shadow-one rounded-bl-xl rounded-br-xl anim">
              <div class="relative max-w-[306px] mx-auto">
                <div class="absolute top-3 right-3">
                  <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white">
                    <i class="icon-fillHeart text-lg text-primary"></i>
                  </span>
                </div>
                <img class="w-full" src="../assets/images/product1.png" alt="product1" />
                <div class="absolute bottom-2 left-2">
                  <span class="block bg-white text-primary text-sm font-medium px-2 rounded-md">Flat 6% off</span>
                </div>
              </div>
              <div class="space-y-1 sm:space-y-2 p-3">
                <div class="w-full">
                  <span class="font-primary text-sm">Twinkling Night Stud Earrings</span>
                  <div class="w-full flex items-center">
                    <span class="text-sm font-bold">₹ 30329,</span>
                    <span class="text-xs text-gray_gull font-medium pl-1">₹ 32265</span>
                  </div>
                </div>
                <div class="flex items-center flex-wrap text-sm font-semibold">
                  <span class="inline-block">women</span>
                  <span class="inline-block px-2">|</span>
                  <span class="inline-block">earrings</span>
                </div>
                <div class="flex flex-nowrap items-center justify-between text-xs sm:text-sm font-medium space-x-2">
                  <button lang="button" class="card-btn-secondary">Add to cart</button>
                  <button lang="button" class="card-btn-primary">Buy</button>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3">
            <div class="w-full max-w-[306px] mx-auto bg-white hover:drop-shadow-one rounded-bl-xl rounded-br-xl anim">
              <div class="relative max-w-[306px] mx-auto">
                <div class="absolute top-3 right-3">
                  <span class="flex items-center justify-center w-8 h-8 rounded-full bg-white">
                    <i class="icon-fillHeart text-lg text-primary"></i>
                  </span>
                </div>
                <img class="w-full" src="../assets/images/product1.png" alt="product1" />
                <div class="absolute bottom-2 left-2">
                  <span class="block bg-white text-primary text-sm font-medium px-2 rounded-md">Flat 6% off</span>
                </div>
              </div>
              <div class="space-y-1 sm:space-y-2 p-3">
                <div class="w-full">
                  <span class="font-primary text-sm">Twinkling Night Stud Earrings</span>
                  <div class="w-full flex items-center">
                    <span class="text-sm font-bold">₹ 30329,</span>
                    <span class="text-xs text-gray_gull font-medium pl-1">₹ 32265</span>
                  </div>
                </div>
                <div class="flex items-center flex-wrap text-sm font-semibold">
                  <span class="inline-block">women</span>
                  <span class="inline-block px-2">|</span>
                  <span class="inline-block">earrings</span>
                </div>
                <div class="flex flex-nowrap items-center justify-between text-xs sm:text-sm font-medium space-x-2">
                  <button lang="button" class="card-btn-secondary">Add to cart</button>
                  <button lang="button" class="card-btn-primary">Buy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Family Jewellery Collection -->
    <div class="w-full px-5 py-8 md:py-10 xl:py-12">
      <div class="w-full rounded-xl overflow-hidden relative">
        <img src="../assets/images/family-jewellery-collection-banner.png" class="absolute inset-0 w-full h-full object-cover opacity-50 lg:opacity-100" alt="family-jewellery-collection-banner" />
        <div class="container relative">
          <div class="w-full lg:w-1/2 space-y-4 md:space-y-6 xl:space-y-8 py-20 lg:py-36 xl:py-40">
            <h2 class="font-bold text-black_mirage">Family Jewellery Collection</h2>
            <span class="block text-primary font-semibold md:font-normal md:text-gray_slate text-base lg:text-lg">Browse through your favourite categories. We've got them all!</span>
            <a href="javascript:void(0)" class="inline-block rounded-md py-2 px-10 lg:p-3 lg:py-4 border border-black_mirage/75 lg:w-full lg:max-w-[250px] text-center font-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- New Arrivals Jewellery -->
    <div class="w-full py-8 md:py-10 xl:py-12">
      <div class="container flex flex-wrap">
        <div class="w-full md:w-1/2 md:order-1">
          <img src="../assets/images/new-arrivals.png" alt="new-arrivals" />
        </div>
        <div class="w-full sm:w-1/2 md:order-2 flex items-center">
          <div class="space-y-3 lg:space-y-6 pt-8 sm:pt-10 pb-10 md:p-0 md:pl-10">
            <h2 class="font-bold text-black_mirage">New Arrivals Necklaces With Best Design</h2>
            <span class="block text-primary font-semibold md:font-normal md:text-gray_slate text-base lg:text-lg">Browse through your favourite categories. We've got them all!</span>
            <a href="javascript:void(0)" class="inline-block rounded-md py-2 px-10 lg:p-3 lg:py-4 border border-black_mirage/75 lg:w-full lg:max-w-[250px] text-center font-primary">Read More</a>
          </div>
        </div>
        <div class="w-full md:w-1/2 md:order-4">
          <img src="../assets/images/new-arrivals2.png" alt="new-arrivals2" />
        </div>
        <div class="w-full sm:w-1/2 md:order-3 flex items-center">
          <div class="space-y-3 lg:space-y-6 pt-8 sm:pt-10 pb-0 md:p-0 md:pr-10">
            <h2 class="font-bold text-black_mirage">New Arrivals Necklaces With Best Design</h2>
            <span class="block text-primary font-semibold md:font-normal md:text-gray_slate text-base lg:text-lg">Browse through your favourite categories. We've got them all!</span>
            <a href="javascript:void(0)" class="inline-block rounded-md py-2 px-10 lg:p-3 lg:py-4 border border-black_mirage/75 lg:w-full lg:max-w-[250px] text-center font-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonials -->
    <div class="flex flex-wrap py-8 md:py-10 xl:py-12">
      <div class="container flex flex-wrap">
        <!-- titel  -->
        <div class="w-full text-center mb-10 px-3">
          <h2 class="font-bold text-black_mirage">Testimonials</h2>
          <span class="w-full max-w-[250px] mx-auto h-1 inline-block bg-black_mirage"></span>
        </div>
        <!-- Review Card  -->
        <div class="w-full md:w-1/2 lg:w-1/3 p-3">
          <div class="review-card">
            <!-- titel  -->
            <span class="text-lg lg:text-xl font-primary">John Doe</span>
            <!-- rating  -->
            <div class="rating_start flex justify-center items-center space-x-4">
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62" />
                </svg>
              </span>
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62" />
                </svg>
              </span>
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62" />
                </svg>
              </span>
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62" />
                </svg>
              </span>
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#CBD5E1" />
                </svg>
              </span>
            </div>
            <!-- comments -->
            <p class="text-sm text-gray_slate"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim Lorem. </p>
            <!-- products -->
            <div class="flex items-center justify-center">
              <div>
                <div class="w-16 h-16 xl:w-20 xl:h-20 rounded-lg bg-gray_slate/30">
                  <img src="../assets/images/review_product.png" alt="review_product" />
                </div>
              </div>
              <p class="text-sm text-gray_slate font-bold px-4">“Twinkling Night Stud Earrings”</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-3">
          <div class="review-card active">
            <!-- titel  -->
            <span class="text-lg lg:text-xl font-primary">John Doe</span>
            <!-- rating  -->
            <div class="rating_start flex justify-center items-center space-x-4">
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62" />
                </svg>
              </span>
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62" />
                </svg>
              </span>
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62" />
                </svg>
              </span>
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62" />
                </svg>
              </span>
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#CBD5E1" />
                </svg>
              </span>
            </div>
            <!-- comments -->
            <p class="text-sm text-gray_slate"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim Lorem. </p>
            <!-- products -->
            <div class="flex items-center justify-center">
              <div>
                <div class="w-16 h-16 xl:w-20 xl:h-20 rounded-lg bg-gray_slate/30">
                  <img src="../assets/images/review_product.png" alt="review_product" />
                </div>
              </div>
              <p class="text-sm text-gray_slate font-bold px-4">“Twinkling Night Stud Earrings”</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-3">
          <div class="review-card">
            <!-- titel  -->
            <span class="text-lg lg:text-xl font-primary">John Doe</span>
            <!-- rating  -->
            <div class="rating_start flex justify-center items-center space-x-4">
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62" />
                </svg>
              </span>
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62" />
                </svg>
              </span>
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62" />
                </svg>
              </span>
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#022D62" />
                </svg>
              </span>
              <span class="inline-block">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#CBD5E1" />
                </svg>
              </span>
            </div>
            <!-- comments -->
            <p class="text-sm text-gray_slate"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim Lorem. </p>
            <!-- products -->
            <div class="flex items-center justify-center">
              <div>
                <div class="w-16 h-16 xl:w-20 xl:h-20 rounded-lg bg-gray_slate/30">
                  <img src="../assets/images/review_product.png" alt="review_product" />
                </div>
              </div>
              <p class="text-sm text-gray_slate font-bold px-4">“Twinkling Night Stud Earrings”</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Summer Collection & Make It Memorable -->
    <div class="flex flex-wrap py-8 md:py-10 xl:py-12">
      <div class="container">
        <div class="flex flex-wrap -mx-3">
          <div class="w-full sm:w-1/2 p-3">
            <div class="relative block rounded-xl overflow-hidden">
              <img src="../assets/images/summer-collection.png" class="w-full" alt="summer-collection" />
              <div class="space-y-3 lg:space-y-6 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-10/12 mx-auto text-center">
                <h2 class="font-bold text-white">Summer Collection</h2>
                <span class="block text-white font-semibold md:font-normal text-base lg:text-lg ">Freshwater pearl necklace and earrings</span>
                <a href="javascript:void(0)" class="inline-block rounded-md py-2 px-10 lg:p-3 lg:py-4 border border-white lg:w-full lg:max-w-[250px] text-center font-primary text-white">Read More</a>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 p-3">
            <div class="relative block rounded-xl overflow-hidden">
              <img src="../assets/images/make-memorable.png" class="w-full" alt="make-memorable" />
              <div class="space-y-3 lg:space-y-6 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-10/12 mx-auto text-center">
                <h2 class="font-bold text-white">Make It Memorable</h2>
                <span class="block text-white font-semibold md:font-normal text-base lg:text-lg ">Freshwater pearl necklace and earrings</span>
                <a href="javascript:void(0)" class="inline-block rounded-md py-2 px-10 lg:p-3 lg:py-4 border border-white lg:w-full lg:max-w-[250px] text-center font-primary text-white">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Subscribe our news letters to reach us -->
    <div class="flex flex-wrap py-8 md:py-10 xl:py-12">
      <div class="container relative px-6 py-16 bg-light_white rounded-2xl overflow-hidden text-center">
        <h3 class="text-black_mirage font-bold mb-10 md:mb-12">Subscribe our news letters to reach us</h3>
        <form action="" method="post" class="relative w-full max-w-md mx-auto">
          <div class="flex flex-wrap sm:flex-nowrap justify-center sm:justify-center items-center sm:bg-white sm:text-gray_gull sm:rounded-lg sm:px-3 sm:py-2 space-y-3 sm:space-y-0 sm:drop-shadow-tow">
            <div class="flex items-center w-full bg-white text-gray_gull p-3 sm:p-0 rounded-lg sm:rounded-none drop-shadow-tow sm:drop-shadow-none">
              <span class="icon-envelope text-2xl px-3"></span>
              <input type="email" class="border-0 outline-none bg-transparent w-full" placeholder="Email">
            </div>
            <a href="javascript:void(0)" class="card-btn-primary block sm:inline-block sm:w-max px-3 text-sm">Subscribe</a>
          </div>
        </form>
        <span class="absolute left-0 bottom-0">
          <img src="../assets/images/subscribe-bg.png" alt="subscribe-bg" />
        </span>
        <span class="absolute right-0 top-0 rotate-180">
          <img src="../assets/images/subscribe-bg.png" alt="subscribe-bg" />
        </span>
      </div>
    </div>

    <!-- footer -->
    <div class="bg-primary py-10 xl:py-12">
      <div class="container">
        <div class="text-center w-full mb-6 md:mb-10 xl:mb-12">
          <img src="../assets/images/svg/Sellify.svg" class="brightness-0 invert mx-auto" alt="logilogo"/>
        </div>
        <div class="flex md:justify-between flex-wrap -px-3">
          <div class="w-full sm:w-1/2 md:w-auto p-3">
            <div class="w-full space-y-3 lg:space-y-4">
              <span class="block text-lg lg:text-xl font-bold text-white">Contact Us</span>
              <div class="w-full space-y-2">
                <span class="block text-sm lg:text-base text-light_gray">Mobile No : +91 9876543214</span>
                <span class="block text-sm lg:text-base text-light_gray">Email : Support@gmail.com</span>
                <div class="flex space-x-4 pt-2">
                  <span class="inline-block">
                    <img src="../assets/images/svg/Facebook.svg" alt="Facebook"/>
                  </span>
                  <span class="inline-block">
                    <img src="../assets/images/svg/Twitter.svg" alt="Twitter"/>
                  </span>
                  <span class="inline-block">
                    <img src="../assets/images/svg/Instagram.svg" alt="Instagram"/>
                  </span>
                  <span class="inline-block">
                    <img src="../assets/images/svg/Github.svg" alt="Github"/>
                  </span>
                  <span class="inline-block">
                    <img src="../assets/images/svg/LinkedIn.svg" alt="LinkedIn"/>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-auto p-3">
            <div class="w-full space-y-3 lg:space-y-4">
              <span class="block text-lg lg:text-xl font-bold text-white">Customer Services</span>
              <div class="w-full space-y-2">
                <a href="dashboard/contact-us" class="block text-sm lg:text-base text-light_gray">Contact Us</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Track Your Order</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Product Care & Repair</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Book an Appointment</a>
                <a href="dashboard/faq" class="block text-sm lg:text-base text-light_gray">Frequently Asked Questions</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Shipping & Returns</a>
              </div>
            </div>
          </div>
          <div class="w-1/2 md:w-auto p-3">
            <div class="w-full space-y-3 lg:space-y-4">
              <span class="block text-lg lg:text-xl font-bold text-white">About Us</span>
              <div class="w-full space-y-2">
                <a href="dashboard/about-us" class="block text-sm lg:text-base text-light_gray">About Us</a>
                <a href="dashboard/faq" class="block text-sm lg:text-base text-light_gray">FAQ</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Our Producers</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Sitemap</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Terms & Conditions</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Privacy Policy</a>
              </div>
            </div>
          </div>
          <div class="w-1/2 md:w-auto p-3">
            <div class="w-full space-y-3 lg:space-y-4">
              <span class="block text-lg lg:text-xl font-bold text-white">Catalog</span>
              <div class="w-full space-y-2">
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Earrings</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Necklaces</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Bracelets</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Rings</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Jewellery Box</a>
                <a href="javscript:void(0)" class="block text-sm lg:text-base text-light_gray">Studs</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <script src="../assets/js/script.js"></script>
  <script>
    function dropDown(ids) {
      var classArr = document.querySelectorAll(".droplist.show");
      [].forEach.call(classArr, function(el) {
          el.classList.remove("show");
      });
      document.getElementById(ids).classList.add('show');
      
      console.log(classArr);
      console.log(document.getElementById(ids).classList.add('show'));
    }
    
  
    //Home slider
    function Slider() {
      const carouselSlides = document.querySelectorAll('.slide');
      const btnPrev = document.querySelector('.prev');
      const btnNext = document.querySelector('.next');
      const dotsSlide = document.querySelector('.dots-container');
      let currentSlide = 0;
      const activeDot = function(slide) {
        document.querySelectorAll('.dot').forEach(dot => dot.classList.remove('active'));
        document.querySelector(`.dot[data-slide="${slide}"]`).classList.add('active');
      };
      activeDot(currentSlide);
      const changeSlide = function(slides) {
        carouselSlides.forEach((slide, index) => (slide.style.transform = `translateX(${100 * (index - slides)}%)`));
      };
      changeSlide(currentSlide);
      btnNext.addEventListener('click', function() {
        currentSlide++;
        if (carouselSlides.length - 1 < currentSlide) {
          currentSlide = 0;
        };
        changeSlide(currentSlide);
        activeDot(currentSlide);
      });
      btnPrev.addEventListener('click', function() {
        currentSlide--;
        if (0 >= currentSlide) {
          currentSlide = 0;
        };
        changeSlide(currentSlide);
        activeDot(currentSlide);
      });
      dotsSlide.addEventListener('click', function(e) {
        if (e.target.classList.contains('dot')) {
          const slide = e.target.dataset.slide;
          changeSlide(slide);
          activeDot(slide);
        }
      });
      setInterval(function() {
        document.querySelector('.next').click();
      }, 4000);
    };
    Slider();
  </script>
