<div class="w-full relative">
  <!-- header -->
  <header class="w-full bg-white relative z-20">
    <div class="w-full relative bg-white drop-shadow-one py-5 z-10">
      <div class="container flex items-center relative">
        <div class="logo w-16 lg:w-20">
          <a href="javascript:void(0)">
            <img src="../assets/images/svg/Sellify.svg" class="w-full" alt="logoSellify">
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="flex flex-wrap py-8 md:py-10 xl:py-12">
    <div class="container">
      <!-- Order delivered Successful -->
      <div class="mb-6 lg:mb-8">
        <div class="flex items-center space-y-2 sm:space-y-0 space-x-3">
          <div class="rounded-full bg-[#11A75C]">
            <div class="w-8 h-8 lg:w-10 lg:h-10 flex items-center justify-center">
              <span class="icon-right text-base lg:text-xl text-white"></span>
            </div>
          </div>
          <h2 class="font-bold text-[#11A75C]">Order Placed Successful, Thank you!</h2>
        </div>
      </div>
      <!-- page titel/ -->
      <h2 class="block capitalize font-bold my-4 sm:my-6">Track order</h2>
      <!-- Track product list  -->
      <div class="border rounded-xl p-4 flex flex-wrap items-end">
        <div class="w-full md:w-8/12">
          <p class="text-lg font-bold text-primary">Arriving 06 Mar 2023</p>
          <div class="flex flex-wrap sm:flex-nowrap items-center lg:items-end justify-start pt-2 sm:pt-4">
            <div class="order_img bg-gray_gull/10">
              <img src="../assets/images/image5.png" alt="Order Img" class="w-full">
            </div>
            <div class="flex flex-col items-start justify-center sm:pl-4 md:pl-6 lg:pl-8 pt-1 sm:pt-0  space-y-1">
              <p class="font-bold text-sm md:text-base">Floral rose gold finger ring</p>
              <p class="w-11/12 text-xs text-gray_gull font-medium break-all">Add the gentle charm of flowers to your look with this finger ring crafted in 18 Karat Rose Gold with diamonds. Stone Clarity SI2</p>
              <div class="font-bold">
                <span class="text-xs md:text-sm text-black_mirage">Offer Price</span>
                <span class="text-sm md:text-base">₹ 24 814.00</span>
                <span class="font-normal text-xs md:text-sm text-gray_slate">Price ₹ 26 398.00</span>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-3 w-full md:w-4/12">
          <div class="text-left">
            <span class="block font-primary text-base text-primary">Shipping Address</span>
            <p class="block text-xs md:text-sm text-gray_slate font-bold mt-1 sm:mt-1.5">Jone Doe</p>
            <p class="block text-xs md:text-sm text-gray_slate font-bold">No-01, First Floor, Beside Empire-state Gate-1</p>
            <p class="block text-xs md:text-sm text-gray_slate font-bold">Taxas, U.S.A 987654</p>
          </div>
        </div>
      </div>
      <!-- Track product Process  -->
      <div class="w-full pt-8 sm:py-8 md:py-10 xl:py-24">
        <div class="flex flex-wrap items-center justify-evenly max-w-3xl w-full mx-auto">
          <div class="delivery_process w-full sm:w-1/4 active">
            <div class="sm:w-full sm:relative">
              <div class="del_process_box">
                <span class="icon-order_confirmed text-xl md:text-2xl text-gray_slate"></span>
              </div>
            </div>
            <span class="delivery_process_titel">Order Confirmed</span>
          </div>
          <div class="delivery_process w-full sm:w-1/4 active">
            <div class="sm:w-full sm:relative">
              <div class="del_process_box">
                <span class="icon-shipped text-xl md:text-2xl text-gray_slate"></span>
              </div>
              <span class="processline"></span>
            </div>
            <span class="delivery_process_titel">Shipped</span>
          </div>
          <div class="delivery_process w-full sm:w-1/4 active">
            <div class="sm:w-full sm:relative">
              <div class="del_process_box">
                <span class="icon-out_deliver text-xl md:text-2xl text-gray_slate"></span>
              </div>
              <span class="processline"></span>
            </div>
            <span class="delivery_process_titel">Out for Delivery</span>
          </div>
          <div class="delivery_process w-full sm:w-1/4 active">
            <div class="sm:w-full sm:relative">
              <div class="del_process_box">
                <span class="icon-deliver text-xl md:text-2xl text-gray_slate"></span>
              </div>
              <span class="processline"></span>
            </div>
            <span class="delivery_process_titel">Delivered</span>
          </div>
        </div>
      </div>
      <!-- order continue button  -->
      <div class="flex flex-wrap mt-8 md:mt-16 lg:mt-20">
        <a href="review_order.html" lang="button" class="card-btn-primary ordernxtprw_btn ml-auto mr-0 order-1 sm:order-2">Continue to Shopping</a>
      </div>
    </div>
  </div>
</div>
